<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.lifecare.medicare">

    <uses-permission android:name="android.permission.NFC" android:required="false"/><!--OK-->
    <uses-permission android:name="android.permission.CAMERA"/> <!--NOK-->
    <uses-permission android:name="android.permission.VIBRATE"/> <!--OK-->
    <uses-permission android:name="android.permission.INTERNET"/> <!--OK-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!--OK-->
    <!--bluetooth-->
    <uses-permission android:name="android.permission.BLUETOOTH"/> <!--OK-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> <!--OK-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!--NOK-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!--NOK-->

    <!--disable lock screen for reminder-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/> <!--OK-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!--OK-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!--NOK-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!--NOK-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".MediCareApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:installLocation="preferExternal">

        <activity
            android:label="@string/app_name"
            android:name=".ui.DashboardActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.LoginActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.ForgotPassActivity" android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.SignUpActivity" android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ChartActivity" android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.CameraActivity" android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.CameraRuntimePermissionActivity" android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.SignsAndSymptomsActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.MedicationTakenActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.AddReminderActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.EditReminderActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.alarm.AlarmDialogPopUp" android:theme="@style/TransparentDialog"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.alarm.AlarmNotification" android:theme="@style/TransparentDialog"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.BloodGlucoseReadingActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.GeneralGlucoseReadingActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.BloodPressureReadingActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.EnlargeImageActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.pairing.ConvertGatewayActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.measuring.MeasurementDeviceListActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.DeviceReadingActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.DeviceReadingActivity2" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.WeightReadingActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.TemperatureReadingActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.MeasureActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.TakeNotesActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.SpO2ReadingActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.AccuChekReadingActivity" android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.pairing.DevicePairingMenuActivity" android:exported="false"
            android:screenOrientation="portrait" />

        <receiver android:name=".ui.alarm.Alarm">
            <intent-filter>
                <action android:name="com.terumo.lifecare.START_ALARM" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ui.alarm.AutoStartAlarm">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".ui.alarm.UserActionBroadcast"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2f787108db9cc28068d95c3f0c96330382c31116" />
    </application>

</manifest>
